{{ if not (eq .Site.Params.dark "on") -}}
@media (prefers-color-scheme: dark) {
{{ end -}}

:root {
    --header-banner-name-a-color: var(--dark-header-banner-name-a-color);
    --header-nav-ul-li-a-color: var(--dark-header-nav-ul-li-a-color);

    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    --heading-color: var(--dark-heading-color);
    --anchor-color: var(--dark-anchor-color);
    --anchor-hover-color: var(--dark-anchor-hover-color);

    --code-text-color: var(--dark-code-text-color);
    --codeblock-background-color: var(--dark-codeblock-background-color);
    --codeblock-highlight-color: var(--dark-codeblock-highlight-color);
    --codeblock-border-color: var(--dark-codeblock-border-color);

    --blockquote-background-color: var(--dark-blockquote-background-color);
}

/* mask bottom codeblock border */
.chroma{
    border-top-width: 0.2em;
    border-bottom: 0;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
}

blockquote {
    border-width: 0.2em;
    border-radius: 0.4em;
}

{{- if not (eq .Site.Params.dark "on") -}}
}
{{- end -}}
