/* globals & constants */
:root {
    transition: ease all .5s;
    margin: auto;
    /* non-mono */
    font-family: "IBM Plex Sans", sans-serif;
    /* main colors */
    --text-color-light: #262b2c;
    --heading-color-light: #131313;
    --anchor-color: #3391ff;
    --background-color: #d8d8d8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 1.25em;
}

h1 { font-size: 2em; }
h2 { font-size: 1.65em; }
h3 { font-size: 1.4em; font-weight: 600; }

/* stuff for the top menu */

/* set display property so header objects line up properly (that rhymes!)*/
header#banner h2 { display: inline; }
header#banner nav { display: inline-block; }

/* list item settings (the items next to the site name) */
header#banner nav ul li {
    color: var(--heading-color-light);
    display: inline;
    list-style-type: none;
    margin: 0 .2rem;
}
header#banner nav ul li:hover {a:hover { text-decoration: underline; } }

/* traditional html objects */
body {
    width: 100%;
    color: var(--text-color);
    line-height: 1.25;
    overflow-wrap: break-word;
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

a:hover { text-decoration: underline; }

ul-header { padding: 0; }

li { list-style-type: disc; }

h1,
h2,
h3,
h4,
h5,
h6 { color: var(--heading-color); }

/* pad top and bottom, adjust font size, add background */
code {
    font-size: .9rem;
    font-family: "Cascadia Mono", "IBM Plex Mono", monospace;
    background-color: #f5f5f5;
}

/* table margin, for centering, border, and show only one border */
table, td, th {
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    padding: .2rem;
}

figure {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding: .2rem;
    border-radius: 10px;
}