/* globals & constants */
:root {
    transition: ease all .3s;
    margin: auto;
    /* non-mono */
    font-family: Inter, system-ui;
    font-size: 1.25rem;
    --body-line-height: 1.6;

    /* mono */
    --code-font-family: monospace;
    --code-font-size: 0.9rem;

    --codeblock-border-width: 0.15rem;
    --codeblock-border-style: solid;
    --codeblock-border-radius: 0;
    --codeblock-padding: 0.4rem;

    --light-header-banner-name-a-color: inherit;
    --light-header-nav-ul-li-a-color: inherit;

    --light-text-color: #262b2c;
    --light-heading-color: #131313;
    --light-anchor-color: #3391ff;
    --light-anchor-hover-color: #076bdd;
    --light-background-color: #fff;

    --light-code-text-color: #222222;
    --light-codeblock-background-color: #fafafa;
    --light-codeblock-highlight-color: #e5e5e5;
    --light-codeblock-border-color: #dddddd;
    --light-codeblock-line-number-color: var(--light-code-text-color);

    --light-blockquote-background-color: #f5f5f5;

    --dark-header-banner-name-a-color: #e0e0e0;
    --dark-header-nav-ul-li-a-color: #cccccc;

    --dark-text-color: #dadada;
    --dark-heading-color: var(--dark-text-color);
    --dark-anchor-color: #00b1ed;
    --dark-anchor-hover-color: #21c7ff;
    --dark-background-color: #171717;

    --dark-code-text-color: var(--dark-text-color);
    --dark-codeblock-background-color: #0c0c0c;
    --dark-codeblock-highlight-color: #d3d3d3;
    --dark-codeblock-border-color: #2e2e2e;
    --dark-codeblock-line-number-color: var(--dark-code-text-color);

    --dark-blockquote-background-color: var(--dark-codeblock-background-color);

    --header-banner-name-a-color: var(--light-header-banner-name-a-color);
    --header-nav-ul-li-a-color: var(--light-header-nav-ul-li-a-color);

    background-color: var(--light-background-color);
    color: var(--light-text-color);
    --heading-color: var(--light-heading-color);
    --anchor-color: var(--light-anchor-color);
    --anchor-hover-color: var(--light-anchor-hover-color);

    --code-text-color: var(--light-code-text-color);
    --codeblock-background-color: var(--light-codeblock-background-color);
    --codeblock-highlight-color: var(--light-codeblock-highlight-color);
    --codeblock-border-color: var(--light-codeblock-border-color);

    --blockquote-background-color: var(--light-blockquote-background-color);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scrollbar-width: none;
}

/* fix some jank <br> spam and maintain desired spacing */
div.post {
    margin: 1em 0;
}

h1 { font-size: 2em; font-weight: 500;}
h2 { font-size: 1.65em; font-weight: 500; }
h3 { font-size: 1.4em; font-weight: 500; }

/* stuff for the top menu */

/* set display property so header objects line up properly (that rhymes!)*/
header#banner h2 { display: inline; }
header#banner nav { display: inline-block; }

/* list item settings (the items next to the site name) */
header#banner nav ul li {
    color: var(--heading-color);
    display: inline;
    list-style-type: none;
    margin: 0 .2rem;
}

header#banner a {
    color: var(--header-banner-name-a-color);
}

header#banner nav ul li a {
    color: var(--header-nav-ul-li-a-color);
}

header#banner nav ul li:hover { a:hover { text-decoration: underline; } }

/* date field */
main#content header#post-header div {
    color: #a7a7a7;
}

/* post list items - space differently than body text */
main#content ul#posts .post {
    line-height: 1.25;
}

/* make title and date each their own block so spacing is consistent */
main#content ul#posts .post > span {
    display: block;
    margin: 0;
    padding: 0;
}

/* traditional html objects */
body {
    max-width: fit-content;
    line-height: var(--body-line-height);
    overflow-wrap: break-word;
}

a {
    color: var(--anchor-color);
    text-decoration: none;
}

a:hover { text-decoration: underline; }

main#content ul#posts li a:hover {
    color: var(--anchor-hover-color);
}

/* list items for the header */
ul-header { padding: 0; }

/* nested lists */
ul ul, ol ol { margin-left: 0.5rem; }

/* add some padding to list items so they don't look cramped */
li { margin: 0.2rem 0; }

h1,
h2,
h3,
h4,
h5,
h6 { color: var(--heading-color); }

/* pad top and bottom, adjust font size, add background */
code {
    font-size: var(--code-font-size);
    font-family: var(--code-font-family);
    color: var(--code-text-color);
    background-color: var(--codeblock-background-color);
    border-radius: .1rem;
}

.chroma {
    max-width: 100%;
    padding: var(--codeblock-padding);
    border-radius: var(--codeblock-border-radius);
    text-wrap: balance;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* table margin, for centering, border, and show only one border */
table, td, th {
    margin: auto;
    border: 1px solid;
    border-collapse: collapse;
    padding: .2rem;
}

img, figure {
    display: block;
    margin: auto;
    padding: .2rem;
    border-radius: .7rem;
    max-width: 100%;
}

blockquote::before, blockquote::after {
    position: relative;
    font-size: 1.5rem;
    top: 0.4rem;
}
blockquote::before {
    content: '“';
}
blockquote::after {
    content: '”';
}

blockquote {
    background-color: var(--blockquote-background-color);
    margin: 0.5rem;
    padding: 0 0.5rem;
    border-radius: .1rem;
}

/* Borders */ blockquote {
    border-top: var(--codeblock-border-width) var(--codeblock-border-style) var(--codeblock-border-color);
    border-bottom: var(--codeblock-border-width) var(--codeblock-border-style) var(--codeblock-border-color);
}
