:root {
    --keyword: #66d9ef;
    --keyword-namespace: #f92672;
    --name: #a6e22e;
    --literal-purple: #ae81ff;
    --literal-yellow: #e6db74;
    --comment: #75715e;
}

/* Background */
.chroma {
    color: #f8f8f2;
    background-color: #272822
}

/* Error */
.chroma .err { 
    color: #960050;
    background-color: #1e0010 
}

/* LineTableTD */ 
.chroma .lntd {
    vertical-align: top;
    padding: 0;
    margin: 0;
    border: 0;
}

/* LineTable */
.chroma .lntable {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: 0;
    width: auto;
    overflow: auto;
    display: block;
}

/* LineHighlight */
.chroma .hl {
    display: block;
    width: 100%;
    background-color: #ffffcc
}

/* LineNumbersTable */ 
.chroma .lnt {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

/* LineNumbers */
.chroma .ln {
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: #7f7f7f
}

/* Keyword */
.chroma .k { color: var(--keyword) }

/* KeywordConstant */
.chroma .kc { color: var(--keyword) }

/* KeywordDeclaration */
.chroma .kd { color: var(--keyword) }

/* KeywordNamespace */
.chroma .kn { color: var(--keyword-namespace) }

/* KeywordPseudo */
.chroma .kp { color: var(--keyword) }

/* KeywordReserved */
.chroma .kr { color: var(--keyword) }

/* KeywordType */
.chroma .kt { color: var(--keyword) }

/* NameAttribute */ 
.chroma .na { color: var(--name) }

/* NameClass */
.chroma .nc { color: var(--name) }

/* NameConstant */
.chroma .no { color: var(--keyword) }

/* NameDecorator */
.chroma .nd { color: var(--name) }

/* NameException */
.chroma .ne { color: var(--name) }

/* NameFunction */
.chroma .nf { color: var(--name) }

/* NameOther */
.chroma .nx { color: var(--name) }

/* NameTag */
.chroma .nt { color: var(--name) }

/* Literal */
.chroma .l { color: var(literal-purple) }

/* LiteralDate */
.chroma .ld { color: var(literal-yellow) }

/* LiteralString */
.chroma .s { color: var(literal-yellow) }

/* LiteralStringAffix */
.chroma .sa { color: var(literal-yellow) }

/* LiteralStringBacktick */
.chroma .sb { color: var(literal-yellow) }

/* LiteralStringChar */
.chroma .sc { color: var(literal-yellow) }

/* LiteralStringDelimiter */
.chroma .dl { color: var(literal-yellow) }

/* LiteralStringDoc */
.chroma .sd { color: var(literal-yellow) }

/* LiteralStringDouble */
.chroma .s2 { color: var(literal-yellow) }

/* LiteralStringEscape */
.chroma .se { color: var(literal-purple) }

/* LiteralStringHeredoc */
.chroma .sh { color: var(literal-yellow) }

/* LiteralStringInterpol */
.chroma .si { color: var(literal-yellow) }

/* LiteralStringOther */
.chroma .sx { color: var(literal-yellow) }

/* LiteralStringRegex */
.chroma .sr { color: var(literal-yellow) }

/* LiteralStringSingle */
.chroma .s1 { color: var(literal-yellow) }

/* LiteralStringSymbol */
.chroma .ss { color: var(literal-yellow) }

/* LiteralNumber */
.chroma .m { color: var(literal-purple) }

/* LiteralNumberBin */
.chroma .mb { color: var(literal-purple) }

/* LiteralNumberFloat */
.chroma .mf { color: var(literal-purple) }

/* LiteralNumberHex */
.chroma .mh { color: var(literal-purple) }

/* LiteralNumberInteger */
.chroma .mi { color: var(literal-purple) }

/* LiteralNumberIntegerLong */
.chroma .il { color: var(literal-purple) }

/* LiteralNumberOct */
.chroma .mo { color: var(literal-purple) }

/* Operator */
.chroma .o { color: var(--keyword-namespace) }

/* OperatorWord */
.chroma .ow { color: var(--keyword-namespace) }

/* Comment */
.chroma .c { color: var(--comment) }

/* CommentHashbang */
.chroma .ch { color: var(--comment) }

/* CommentMultiline */
.chroma .cm { color: var(--comment) }

/* CommentSingle */
.chroma .c1 { color: var(--comment) }

/* CommentSpecial */
.chroma .cs { color: var(--comment) }

/* CommentPreproc */
.chroma .cp { color: var(--comment) }

/* CommentPreprocFile */
.chroma .cpf { color: var(--comment) }

/* GenericDeleted */
.chroma .gd { color: var(--keyword-namespace) }

/* GenericEmph */
.chroma .ge { font-style: italic }

/* GenericInserted */
.chroma .gi { color: var(--name) }

/* GenericStrong */
.chroma .gs { font-weight: bold }

/* GenericSubheading */
.chroma .gu { color: var(--comment) }