/* tiny screens, like the Galaxy Fold */
@media only screen and (min-width: 0px){
    :root {
        width: 95%;
    }
    ul {
        padding-left: 1rem;
    }
}

/* set font size so a 2 or 3 item main menu all fit
            in a row on tiny screens */
@media only screen and (max-width: 400px){
    html {
        font-size: 1.00em;
    }
}

/* begin to increase margin on body content once we have space */
@media only screen and (min-width: 400px){
    :root {
        width: 90%;
    }
    p {
        margin-left: .33rem;
    }
    ul {
        margin-left: 1rem;
    }
}

/* smooths out transition if the window is rapidly resized */
@media only screen and (min-width: 500px){
    :root {
        width: 87.5%;
    }
    p {
        margin-left: .66rem;
    }
}

/* small screens */
@media only screen and (min-width: 600px){
    :root {
        width: 85%;
    }
    p {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 800px){
    :root {
        width: 80%;
    }
}

/* half a desktop or medium screens */
@media only screen and (min-width: 1000px){
    :root {
        width: 72.5%;
    }
}

@media only screen and (min-width: 1255px){
    :root {
        width: 65%;
    }
}

/* fullscreen on a monitor */
@media only screen and (min-width: 1510px){
    :root {
        width: 1000px;
    }
}