@media only screen and (min-width: 0px){
    :root {
        width: 90%;
    }
    ul {
        padding-left: 1rem;
    }
}

@media only screen and (min-width: 400px){
    :root {
        width: 90%;
    }
    p {
        margin: .33rem;
    }
    ul {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 500px){
    :root {
        width: 90%;
    }
    p {
        margin: .66rem;
    }
    ul {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 600px){
    :root {
        width: 85%;
    }
    p {
        margin: 1rem;
    }
}

@media only screen and (min-width: 1000px){
    :root {
        width: 80%;
    }
}

@media only screen and (min-width: 1510px){
    :root {
        width: 75%;
    }
}