ul, p, time.post-header {
    padding: var(--padding-variable);
}
/* tiny screens, like the Galaxy Fold */
@media only screen and (min-width: 0px){
    :root {
        width: 95%;
        --padding-variable: 0 0.5rem;
    }
}

/* begin to increase margin on body content once we have space */
@media only screen and (min-width: 400px){
    :root {
        width: 90%;
        --padding-variable: 0 0.75rem;
    }
}

/* smooths out transition if the window is rapidly resized */
@media only screen and (min-width: 500px){
    :root {
        width: 87.5%;
        --padding-variable: 0 1rem;
    }
}

/* small screens */
@media only screen and (min-width: 600px){
    :root {
        width: 85%;
        --padding-variable: 0 1rem;
    }
}

@media only screen and (min-width: 800px){
    :root {
        width: 80%;
    }
}

/* half a desktop or medium screens */
@media only screen and (min-width: 1000px){
    :root {
        width: 72.5%;
    }
    img {
        max-width: 140%;
    }
}

@media only screen and (min-width: 1255px){
    :root {
        width: 65%;
    }
    img {
        max-width: 155%;
    }
}

/* fullscreen on a monitor */
@media only screen and (min-width: 1510px){
    :root {
        width: 1000px;
    }
    img {
        max-width: 165%;
    }
}