ul, p, time.post-header {
    padding: var(--padding-variable);
}

:root {
    margin: auto;
}

@media only screen and (min-width: 0px) {
    body { width: 95%; --padding-variable: 0 0.5rem; }
}
@media only screen and (min-width: 400px) {
    body { width: 92.5%; --padding-variable: 0 0.75rem; }
}
@media only screen and (min-width: 500px) {
    body { width: 90%; --padding-variable: 0 1rem; }
}
@media only screen and (min-width: 600px) {
    body { width: 87.5%; --padding-variable: 0 1rem; }
}
@media only screen and (min-width: 800px) {
    body { width: 85%; }
}
@media only screen and (min-width: 1000px) {
    body { width: 80%; }
}
@media only screen and (min-width: 1510px) {
    body { width: 1200px; }
}

@media only screen and (min-width: 1300px) and (max-width: 1399px) {
    body.has-toc {
        width: 75%;
        margin-left: 300px;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1509px) {
    body.has-toc {
        width: 72.5%;
        margin-left: 300px;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1510px) and (max-width: 1800px) {
    body.has-toc {
        width: 67%;
        margin-left: 300px;
        margin-right: auto;
    }
}